// キービジュアルの手描き文字

.cls-1 {
    fill: #006d77;
}

.cls-2 {
    fill: none;
    opacity: 0.7;
    stroke: #ffffff;
    stroke-miterlimit: 10;
    stroke-width: 400px;
}

// サイン
.signature {
    color: #006d77;
    font-family: "Sacramento", cursive;
}

// カード
.card {
    background-color: #e7eeee;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

// row
.row {
    display: flex;
    flex-wrap: wrap;
}
