.header {
  height: 5rem;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 2rem;
  padding: 1rem;
  z-index: 10;
  position: fixed;
  top: 0;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  &__logo {
    font-size: 2.5rem;
  }

  &__nav {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      font-size: 1.5rem;
      margin-left: 1rem;
    }
  }
}
