@use "_mixin" as m;

.keyvisual {
  padding-top: 30vh;
  padding-bottom: 6rem;
  margin-bottom: 1rem;
  color: #006d77;
  background-color: #e7eeee;

  &__animation {
    &__svg {
      display: block;
      width: 40%;
      max-height: 40%;
      margin-left: auto;
      margin-right: auto;
    }
    &__image {
      width: 100%;
    }
  }

  /*スクロールの矢印*/
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
  }
  @keyframes move-y {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(10px);
    }
  }
}

#keyvisual__scroll {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}
