@use "_mixin" as m;

.main {
  &__scroll {
    &__section {
      margin-top: 1rem;
      margin-bottom: 4rem;
    }
    &__block {
      animation: move-y 0.5s infinite alternate ease-in-out;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__section-title {
    font-size: 4.8rem;
    text-align: center;
    color: #87bcc1;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  &__about {
    &__profile-photo {
      height: 20rem;
      margin-bottom: 1rem;
    }
  }
  &__comingsoon {
    &-bg {
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
    &-content {
      height: 20rem;
      padding: 1rem;
      padding-top: 10rem;
      background-color: #e7eeee;
      border-radius: 1rem;
    }
  }
}
