@use "_mixin" as m;
@use "_header";
@use "_keyvisual";
@use "_main";
@use "_about";
@use "_skill";
@use "_works";
@use "_info";
@use "_footer";
@use "_custom";

html,
body {
  color: #07373b;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  scroll-padding-top: 5rem;
}

a {
  color: #006d77;

  &:hover {
    color: #87bcc1;
  }
}

li {
  list-style: none;
  font-weight: 200;
}
h1,
h2 {
  font-weight: 200;
}

h1 {
  color: #87bcc1;
}

h2,
h3,
h4 {
  color: #006d77;
}

section {
  margin-top: 2rem;
  padding-top: 2rem;
  margin-bottom: 10rem;
}
