@charset "UTF-8";
.cls-1 {
  fill: #006d77;
}

.cls-2 {
  fill: none;
  opacity: 0.7;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 400px;
}

.signature {
  color: #006d77;
  font-family: "Sacramento", cursive;
}

.card {
  border: none;
  padding: 1rem;
  background-color: #e7eeee;
  border-radius: 1rem;
}

/*フォント*/
.bound span {
  color: #006d77;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  margin: auto;
  font-size: 1rem;
  text-align: center;
  width: 100px;
  height: 100px;
}

/*アニメーション指定
文字数に合わせてleftや開始時間（2つ目のs）を設定する*/
.bound span:nth-child(1) {
  left: -5.4em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(2) {
  left: -4.2em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(3) {
  left: -2.8em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(4) {
  left: -1.6em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(5) {
  left: -0.6em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(6) {
  left: 0.6em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(7) {
  left: 1.8em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(8) {
  left: 3em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(9) {
  left: 4.2em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

.bound span:nth-child(10) {
  left: 5.4em;
  -webkit-animation: bound-anim 0.8s 0.8s infinite;
          animation: bound-anim 0.8s 0.8s infinite;
}

/*アニメーションキーフレーム
小さいフォントサイズの場合はtopの数値も縮小すると飛び過ぎない*/
@-webkit-keyframes bound-anim {
  0%, 100% {
    top: 0;
    transform: scale(1);
  }
  30% {
    top: -1%;
  }
  50% {
    transform: scale(1);
  }
  90% {
    top: 0;
    transform: scale(1.1, 0.9);
  }
}
@keyframes bound-anim {
  0%, 100% {
    top: 0;
    transform: scale(1);
  }
  30% {
    top: -1%;
  }
  50% {
    transform: scale(1);
  }
  90% {
    top: 0;
    transform: scale(1.1, 0.9);
  }
}
.header {
  height: 5rem;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 2rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.header__container {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}
.header__nav {
  display: block;
  padding-right: 0;
}
.header__nav__list {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.4s;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .header__nav__list {
    font-size: 1.2rem;
    height: 0;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 5rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 575px) {
  .header__nav__list {
    font-size: 1.2rem;
    height: 0;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 5rem;
    overflow: hidden;
  }
}
.header__nav__list--active {
  font-size: 1.2rem;
  height: 8rem;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 5rem;
  background-color: #ffffff;
  padding-bottom: 1rem;
}
.header__nav__item {
  padding-left: 1rem;
}
.header__nav__toggle-button {
  align-items: baseline;
  color: #006d77;
  display: none;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .header__nav__toggle-button {
    display: block;
  }
}
@media screen and (max-width: 575px) {
  .header__nav__toggle-button {
    display: block;
  }
}
.header__nav__toggle-icon {
  font-size: 2.4rem !important;
}
.header__nav__toggle-icon:hover {
  color: #87bcc1;
}

.keyvisual {
  height: 100vh;
  padding-top: 30vh;
  margin-bottom: 1rem;
  color: #006d77;
  background-color: #e7eeee;
  /*スクロールの矢印*/
}
.keyvisual__animation__svg {
  display: block;
  width: 40%;
  max-height: 40%;
  margin-left: auto;
  margin-right: auto;
}
.keyvisual__animation__image {
  width: 100%;
}
.keyvisual__scroll {
  -webkit-animation: move-y 0.5s infinite alternate ease-in-out;
          animation: move-y 0.5s infinite alternate ease-in-out;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}
.keyvisual .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}
@-webkit-keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.main__about__profile-photo {
  height: 20rem;
}
.main__comingsoon-bg {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.main__comingsoon-content {
  height: 50vh;
  padding: 1rem;
  padding-top: 25vh;
  background-color: #e7eeee;
  border-radius: 1rem;
}
.main__skill__block__heading {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.main__skill__block__icons {
  font-size: 6rem;
  color: #006d77;
}

html,
body {
  color: #07373b;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  scroll-padding-top: 5rem;
}

a {
  color: #006d77;
}
a:hover {
  color: #87bcc1;
}

li {
  list-style: none;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  color: #87bcc1;
}

h2 {
  color: #006d77;
}

section {
  margin-top: 2rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
}